export(landscape.data)
export(get.mutland)
export(plot.landscape2)

export(mutsigcv.sig.pathway)
export(plot.MH,plot.depth)
export(plot.96.spectra)
export(plot.spectra)
export(combine.test)
export(mutsig.gene)
export(mutsig.pathway)
export(cmds.focal.test)
export(mut_cor_permu_test)
export(mshapiro.test)
export(plot.CoocurExclus)
export(plot.coocur)
export(plot.coocur2)

export(run.absCNSeq)
export(compute.absCN)
export(plot.absCN)

export(plot.surv.curve)
export(plot.SciClone)

export(beanplot)
export(beanplot2)
export(vioplot)
export(vioplot2)

export(lm2)
export(scale01)
export(scale02)
export(CIplot)
export(runRF)
export(boxplot.jitter)
export(which.xy)

export(sort.data.frame)
export(sortDataFrame)
export(plot.mutation.signature)
export(plotMutationalProcesses)

export("s.class2")
export("dist.JSD")
export(optimcluster)
export(DoISVA.v2)
export("mutsigclfn")
export("mutsigcl_global")
export("mutsignr")
export("generate_mutsigcl_global_bkgr_info")

export(plot.survfit.lixc)
export(plot.coxph)
export(unicoxph)
export(plot.logit)
export(plot.multinom)
export(cat.RR)
export(cat.CI)

export(sort.data.frame.by.index)
export(oncoprinter)
export(plot.mutational.exposures)
export(plot.mutational.processes)
export(bayes.t.test)
export(original.model)
export(modified.model)
export(student_t_distribution_model)
export(bayes.student_t)

export(best.student_t_model)
export(best.robust_t_test_model)
export(best.robust_t_test_model2)
export(best.student_t)
export(best.robust_t_test)
export(best.robust_t_test_batch)
export(stanfit2mcmc.list)
export(DbdaDensPlot2)
export(DbdaDensPlot)
export(diag.mcmc)
export(HDIofMCMC)
export("HDIofMCMC.stanfit")
export("plotPost")
export("glmfit")
#export(diagStanFit)

export(legoplot)

export(rank.based.INT)

export(ggforestplot)
export(ggboxplot)
export(ggPlotMutationalSignatures)
##export(AlexandrovEtAl_signatures_corr)
export(COSMIC_signatures_corr)
export(cosine)

export(RunMEGSA)
export(funMEGSA)

export("calc_allelic_freqs")
export("calc_allelic_freqs_core")
export("pileup_freqs")
